.character {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-style: solid;
  margin: 10px;
  border-width: 3px;
  border-radius: 2px;
  object-fit: cover;
  -o-background-size: 150px 150px;
  -webkit-background-size: 150px 150px;
  -khtml-background-size:  150px 150px;
  -moz-background-size:  150px 150px;
  background-size:  150px 150px;
}

.character h2 {
  text-align: center;
  margin-top: 100px;
  padding: 7px;
  color: white;
}


/**
  * This container was created soley for the
  * sticky footer, which is why there is `em`
  * and `!important` usage - for IE 6
  */
.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -4em;
}
#footer {
  margin-top: 16px;
  border-style: outset;
  border-width: 7px 0px 0px 0px;
  border-color: #4aaaa5;
  background-color: #666666;
  min-width: 960px;
  width: 100%;
}

#footer p {
  text-align: center;
  color: #D3D3D3;
  font-size: 12px;
  padding-top: 30px;
}

#footer, .push {
  height: 4em;
}
