body {
  background-image: url("../images/warp.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.character {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-style: solid;
  margin: 10px;
  border-width: 3px;
  border-radius: 2px;
  object-fit: cover;
  -o-background-size: 150px 150px;
  -webkit-background-size: 150px 150px;
  -khtml-background-size:  150px 150px;
  -moz-background-size:  150px 150px;
  background-size:  150px 150px;
}

h2 {
  color: black;
  background-color: white;
  padding: 5px;
}

.character h2 {
  text-align: center;
  margin-top: 108px;
  padding: 5px;
  color: white;
}

hr {
  border-color: white;
  margin: 0;
}
.area {
  text-align: center;
  height: 190px;
  width: 100%;
  margin-bottom: 15px;
}


header {
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 15px;
  border-style: outset;
  border-width: 0px 0px 3px 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
}

h1 {
  padding-top: 15px;
}



/**
  * This container was created soley for the
  * sticky footer, which is why there is `em`
  * and `!important` usage - for IE 6
  */
.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -4em;
}
#footer {
  margin-top: 16px;
  border-style: outset;
  border-width: 7px 0px 0px 0px;
  border-color: white;
  background-color: black;
  min-width: 960px;
  width: 100%;
}

#footer p {
  text-align: center;
  color: #D3D3D3;
  font-size: 12px;
  padding-top: 30px;
}

#footer, .push {
  height: 4em;
}
